#table {
    display: flex;
    flex-direction: column;
}

.table__heading {
    font-size: 1.5rem;
}

.table__desc {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.table__heading, .table__desc {
    text-align: center;
}

.table__head {
    font-weight: bold;
}

.table__row {
    width: 100%;
    display: grid;
}

.table__cell {
    box-sizing: border-box;
    border: 1px solid #dee2e6;
    width: 100%;
    padding: 0.75rem;
}